{% extends "base.html.twig" %}

{% block content %}

<div class="jumbotron my-5">
    <h1 class="display-4">A Field Guide to Angry Birds</h1>
    <p class="lead">Games that lodge in the brain often have comical stars </p>
</div>

<p>Chaque oiseau est payé {{'2000000' | format_currency('EUR', locale='fr') }}</p>

<a href="{{ path('download_calendar') }}">Télécharger le calendrier</a>

{% set lastBirdId = app.session.get('last_bird_id') %}

{% if lastBirdId is not empty %}

<p>Dernier oiseau visité :
    <a href="{{ path('bird_detail', {id: lastBirdId})}}">
        {{ birds[lastBirdId].name }}
    </a> 
</p>

{% endif %}

<div class="row">
    {% for id, bird in birds %}
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card my-3 {{ cycle(['odd', 'even'], loop.index0) }}">
            <img src="{{asset('images/' ~ bird.image)}}" class="carf*d-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ bird.name }}</h5> 
                <a href="{{ path('bird_detail', {'id' : id}) }}" class="btn btn-primary">Voir le détail</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}

